---
import Layout from '../layouts/Layout.astro';

import '../styles/styles.css';
---

<Layout title='Frontend Mentor | 3-column preview card component'>
  <main
    class='flex min-h-screen w-full flex-col items-center justify-center px-6 py-20'
  >
    <div class='grid max-w-4xl sm:grid-cols-3'>
      <div class='rounded-t-md bg-Bright-orange p-12 text-white'>
        <img class='mb-[35px]' src='/images/icon-sedans.svg' alt='' />

        <h2
          class='mb-[25px] font-cursive text-[40px] font-bold leading-9 text-Very-light-gray'
        >
          SEDANS
        </h2>
        <p
          class='mb-7 text-left font-sans leading-normal text-Transparent-white'
        >
          Choose a sedan for its affordability and excellent fuel economy. Ideal
          for cruising in the city or on your next road trip.
        </p>
        <button
          class='mb-[47px] rounded-[56px] bg-Very-light-gray px-8 py-3 font-semibold text-[#E38826]'
          >Learn More</button
        >
      </div>

      <div class='bg-Dark-cyan p-12 text-white'>
        <img class='mb-[35px]' src='/images/icon-suvs.svg' alt='' />
        <h2
          class='mb-[25px] font-cursive text-[40px] font-bold text-Very-light-gray'
        >
          SUVS
        </h2>
        <p class='mb-7 text-left font-sans leading-6 text-Transparent-white'>
          Take an SUV for its spacious interior, power, and versatility. Perfect
          for your next family vacation and off-road adventures.
        </p>
        <button
          class='mb-[47px] rounded-[56px] bg-Very-light-gray px-8 py-3 font-semibold text-Dark-cyan'
          >Learn More</button
        >
      </div>
      <div class='rounded-b-md bg-Very-dark-cyan p-12 text-white'>
        <img class='mb-[35px]' src='/images/icon-luxury.svg' alt='' />
        <h2
          class='mb-[25px] font-cursive text-[40px] font-bold text-Very-light-gray'
        >
          LUXURY
        </h2>
        <p class='mb-7 text-left font-sans leading-6 text-Transparent-white'>
          Cruise in the best car brands without the bloated prices. Enjoy the
          enhanced comfort of a luxury rental and arrive in style.
        </p>
        <button
          class='mb-[47px] rounded-[56px] bg-Very-light-gray px-8 py-3 font-semibold text-Very-dark-cyan'
          >Learn More</button
        >
      </div>
    </div>

    <div class='pt-10 text-sm'>
      Challenge by <a
        href='https://www.frontendmentor.io?ref=challenge'
        target='_blank'>Frontend Mentor</a
      >. Coded by <a href='#'>L3GOL4S</a>.
    </div>
  </main>
</Layout>
